# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.py[cod]
*.pyc

.venv/
venv/
env/
.env


# ============================================================
# JUPYTER
# ============================================================

.ipynb_checkpoints/


# ============================================================
# MEDICAL DATASETS
# ============================================================

data/raw/
data/processed/
data/interim/


# ============================================================
# MEDICAL IMAGES
# ============================================================

*.dcm
*.nii
*.nii.gz


# ============================================================
# LARGE ARCHIVES
# ============================================================

*.zip
*.tar
*.gz


# ============================================================
# TRAINED MODELS
# ============================================================

*.pth
*.pt
*.onnx


# ============================================================
# LOGS
# ============================================================

*.log


# ============================================================
# IDE
# ============================================================

.vscode/
.idea/


# ============================================================
# SYSTEM FILES
# ============================================================

.DS_Store
Thumbs.db